#!/bin/bash
# Dump all PostgreSQL databases

OUTPUT="{{ postgresql_backup_dir | quote }}/$(date +{{ postgresql_backup_filename_format | quote }})"
su postgres -c "/usr/bin/pg_dumpall -f \"$OUTPUT.tmp\"" 2>&1 | /usr/bin/logger -t backup

size=$(stat -c%s "$OUTPUT.tmp")
if [ $size -lt {{ postgresql_backup_minimum_expected_size }} ]; then
    echo "ERROR: Database backup '$OUTPUT.tmp' is less than {{ postgresql_backup_minimum_expected_size }} bytes" 2>&1 | /usr/bin/logger -t backup
    exit 2
fi

echo "Compressing database backup '$OUTPUT.tmp' to '$OUTPUT.tmp.gz'" 2>&1 | /usr/bin/logger -t backup
gzip "$OUTPUT.tmp"
mv "$OUTPUT.tmp.gz" "$OUTPUT.gz"
echo "SUCCESS: Database backup '$OUTPUT.gz' completed" 2>&1 | /usr/bin/logger -t backup
